# Code Analysis

## Posture Descriptor Analysis

In [8]:
import spacy
import pandas as pd
import os
import re
import numpy as np

In [100]:
data_dir = "../data/mimic-iv/physionet.org/files/mimic-iv-note/2.2/note/"
data_file = "discharge.csv.gz"

data = pd.read_csv(os.path.join(data_dir, data_file))

In [101]:
posture_keyword = [
    r"\bposture\b",
]

In [102]:
pos_pattern = re.compile("|".join(positive_keywords), re.IGNORECASE)
exc_pattern = re.compile("|".join(exclude_keywords), re.IGNORECASE)

abnormal = data['text'].str.contains(pos_pattern, regex=True)
normal = data['text'].str.contains(exc_pattern, regex=True)
posture_notes = data[abnormal & ~normal]
print(posture_notes)
print(len(posture_notes))
posture_notes.to_csv("../output/posture_mention_notes.csv", index=False)

               note_id  subject_id   hadm_id note_type  note_seq  \
270      10006825-DS-8    10006825  29669544        DS         8
399     10011938-DS-19    10011938  24772774        DS        19
439     10013502-DS-20    10013502  20363238        DS        20
535      10015487-DS-8    10015487  20588720        DS         8
734      10022041-DS-3    10022041  28909879        DS         3
...                ...         ...       ...       ...       ...
330801  19968936-DS-12    19968936  20663275        DS        12
331085  19978248-DS-30    19978248  28868652        DS        30
331193   19981958-DS-8    19981958  21856502        DS         8
331279  19985349-DS-10    19985349  20308632        DS        10
331602  19994259-DS-21    19994259  21818613        DS        21

                  charttime            storetime  \
270     2150-08-10 00:00:00  2150-08-10 22:56:00
399     2132-01-30 00:00:00  2132-01-31 16:46:00
439     2159-01-13 00:00:00  2159-01-13 09:49:00
535     2167-08-11 00:00:00  2167-08-11 13:10:00
734     2187-05-23 00:00:00  2187-05-24 01:47:00
...                     ...                  ...
330801  2111-01-24 00:00:00  2111-01-24 16:53:00
331085  2147-09-09 00:00:00  2147-09-09 12:02:00
331193  2158-11-14 00:00:00  2158-11-14 16:40:00
331279  2125-07-19 00:00:00  2125-07-26 17:26:00
331602  2128-11-27 00:00:00  2128-11-29 13:54:00

                                                     text
270      \nName:  ___                    Unit No:   __...
399      \nName:  ___                Unit No:   ___\n ...
439      \nName:  ___            Unit No:   ___\n \nAd...
535      \nName:  ___                   Unit No:   ___...
734      \nName:  ___                 Unit No:   ___\n...
...                                                   ...
330801   \nName:  ___                   Unit No:   ___...
331085   \nName:  ___                Unit No:   ___\n ...
331193   \nName:  ___                   Unit No:   ___...
331279   \nName:  ___                    Unit No:   __...
331602   \nName:  ___                  Unit No:   ___\...

[1924 rows x 8 columns]
1924

In [5]:
!uv run spacy download en_core_web_sm # need to run everytime because not persistent in nix environment

✘ No compatible package found for 'en_core_sci_sm' (spaCy v3.8.8)

In [48]:
import spacy
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.cluster import KMeans

nlp = spacy.load("en_core_web_sm")  # biomedical model

def extract_posture_descriptors(text):
    doc = nlp(text)
    descriptors = []
    for token in doc:
        if token.lemma_.lower() != "posture":
            continue
        # Find adjectives directly modifying 'posture'
        for child in token.children:
            if child.dep_ == "amod":
                # include left modifiers (advmod/compound)
                modifier_tokens = [t.text for t in child.lefts if t.dep_ in ("advmod", "compound")]
                modifier_tokens.append(child.text)
    
                # include negation or determiner if present
                for det in token.children:
                    if det.dep_ in ("det", "neg"):
                        modifier_tokens.insert(0, det.text)
    
                # join into phrase
                phrase = " ".join(modifier_tokens)
                descriptors.append(phrase)

    # deduplicate
    descriptors = list(dict.fromkeys(descriptors))

    return descriptors

model = SentenceTransformer("emilyalsentzer/Bio_ClinicalBERT")

No sentence-transformers model found with name emilyalsentzer/Bio_ClinicalBERT. Creating a new one with mean pooling.

In [103]:
data = pd.read_csv("../output/posture_mention_notes.csv")
print(data)

             note_id  subject_id   hadm_id note_type  note_seq  \
0      10006825-DS-8    10006825  29669544        DS         8
1     10011938-DS-19    10011938  24772774        DS        19
2     10013502-DS-20    10013502  20363238        DS        20
3      10015487-DS-8    10015487  20588720        DS         8
4      10022041-DS-3    10022041  28909879        DS         3
...              ...         ...       ...       ...       ...
1919  19968936-DS-12    19968936  20663275        DS        12
1920  19978248-DS-30    19978248  28868652        DS        30
1921   19981958-DS-8    19981958  21856502        DS         8
1922  19985349-DS-10    19985349  20308632        DS        10
1923  19994259-DS-21    19994259  21818613        DS        21

                charttime            storetime  \
0     2150-08-10 00:00:00  2150-08-10 22:56:00
1     2132-01-30 00:00:00  2132-01-31 16:46:00
2     2159-01-13 00:00:00  2159-01-13 09:49:00
3     2167-08-11 00:00:00  2167-08-11 13:10:00
4     2187-05-23 00:00:00  2187-05-24 01:47:00
...                   ...                  ...
1919  2111-01-24 00:00:00  2111-01-24 16:53:00
1920  2147-09-09 00:00:00  2147-09-09 12:02:00
1921  2158-11-14 00:00:00  2158-11-14 16:40:00
1922  2125-07-19 00:00:00  2125-07-26 17:26:00
1923  2128-11-27 00:00:00  2128-11-29 13:54:00

                                                   text
0      \nName:  ___                    Unit No:   __...
1      \nName:  ___                Unit No:   ___\n ...
2      \nName:  ___            Unit No:   ___\n \nAd...
3      \nName:  ___                   Unit No:   ___...
4      \nName:  ___                 Unit No:   ___\n...
...                                                 ...
1919   \nName:  ___                   Unit No:   ___...
1920   \nName:  ___                Unit No:   ___\n ...
1921   \nName:  ___                   Unit No:   ___...
1922   \nName:  ___                    Unit No:   __...
1923   \nName:  ___                  Unit No:   ___\...

[1924 rows x 8 columns]

In [104]:
descriptors = []
for idx, row in data.iterrows():
    descriptors.append(extract_posture_descriptors(row['text']))

In [105]:
data['posture_descriptors'] = descriptors

In [106]:
all_descriptors = [d for desc_list in data['posture_descriptors'] for d in desc_list]
descriptor_counts = pd.Series(all_descriptors).value_counts()
print(descriptor_counts.to_string())

normal                     102
good                        42
stooped                     31
upright                     26
well groomed                25
poor                        24
kyphotic                    20
flexed                      19
a flexed                    18
stated                      16
a stooped                   12
intermittent                12
Kyphotic                    12
fair                        11
grooming                     8
supine                       8
an upright                   8
rigid                        7
a forward                    7
tearful                      6
groomed                      6
hunched                      5
Slightly stooped             5
anxious                      5
seated                       5
intense                      5
contracted                   5
cooperative                  5
standing                     4
appropriate                  4
mild                         4
clean                        4
a more erect                 4
appearing                    4
relaxed                      4
forward                      4
changing                     4
intact                       3
an extended                  3
a flat                       3
decorticate                  3
correct                      3
held                         3
a stretcher                  3
aged                         3
extended                     3
tremulous                    3
somewhat stooped             3
clear                        3
slouched                     2
slightly stooped             2
Stopped                      2
consistent                   2
disheveled                   2
Marked                       2
a scoliotic                  2
sitting                      2
flexor                       2
adequately groomed           2
striatal                     2
dystonic                     2
adequate                     2
red                          2
right                        2
slumped                      2
-                            2
a flexor                     2
abnormal                     2
a supine                     2
bent                         2
entire                       2
stable                       2
depressed                    2
slight                       2
thin                         2
a bent                       2
a slightly stooped           2
casual                       2
straight                     2
fixed                        2
neatly groomed               2
mildly stooped               2
calm                         2
stiff                        2
the sitting                  2
elevated                     1
frequently tearful           1
stereotyped                  1
an agitated                  1
somewhat unkempt             1
better                       1
solemn                       1
when appropriate             1
an anxious                   1
basically cooperative        1
elderly                      1
facial                       1
Standing                     1
Confrontational              1
very tearful                 1
dysarthria                   1
very kyphotic                1
a decorticate                1
disorganized                 1
a strange                    1
despondent                   1
male                         1
easily engageable            1
a forward leaning            1
the more erect               1
diaphoretic                  1
full                         1
the same                     1
middle                       1
short                        1
cut                          1
a slight                     1
eyed                         1
visible                      1
somewhat guarded             1
relatively well groomed      1
often better related         1
a cervical                   1
somewhat dischelved          1
a threatening                1
Minimally cooperative        1
older                        1
exaggerated                  1
reassuring                   1
beating                      1
Adequately groomed           1
perfect                      1
Fine                         1
smeared                      1
a slightly forward           1
ipod                         1
erthymatous                  1
a mildly stooped             1
narrow                       1
non                          1
ideal                        1
shuffling                    1
asymmetrical                 1
frquently falling            1
asleep                       1
somewhat groomed             1
own                          1
balding                      1
a unable                     1
chronically flexed           1
worse                        1
a discolored                 1
Right                        1
intermittently tearful       1
Severely kyphotic            1
a somewhat stiff             1
Unstable                     1
guarded                      1
slow                         1
irritable                    1
very stooped                 1
mildly disheveled            1
engagable                    1
this clinical                1
scleral                      1
interactive                  1
unshaven                     1
The right                    1
notably blank                1
agreeable                    1
jewlery                      1
slightly dystonic            1
initially reluctant          1
ankylosing                   1
filthy                       1
somnolent                    1
distressed                   1
somewhat dystonic            1
a inverted                   1
more upright                 1
a likely secondary           1
articulate                   1
a very stooped               1
a fair                       1
unable                       1
a seated                     1
a vertical                   1
a previous                   1
overweight                   1
a weak                       1
marked                       1
Mild                         1
a slightly bent              1
bearded                      1
tired                        1
Moderately stooped           1
a plantarflexed              1
slightly slouched            1
flushed                      1
Middle                       1
nonverbal                    1
a marked                     1
muscular                     1
unmoving                     1
a consistent                 1
protective                   1
the more upright             1
bad                          1
unstable                     1
a hunched                    1
the celing                   1
the tearful                  1
current                      1
forward stooped              1
flexural                     1
dysarthric                   1
fairly well groomed          1
Well groomed                 1
wide                         1
mundane                      1
based                        1
Fixed                        1
bilateral                    1
temporal                     1
a styled                     1
a haircut                    1
slightly extended            1
usual                        1
a rigid                      1
sad                          1
extreme                      1
A high                       1
a forward flexed             1
spastic                      1
internal                     1
severe                       1
bradykinetic                 1
slightly hunched             1
Very                         1
pleasant                     1
shaven                       1
reduced                      1
brown                        1
cropped                      1
chewing                      1
a stopped                    1
atypical                     1
somewhat poor                1
euthymic                     1
more irritable               1
prolonged                    1
quite kyphotic               1
holding                      1
less                         1
this right slanted           1
this seated                  1
difficult                    1
Non                          1
verbal                       1
episodic                     1
shaved                       1
kyphoscoliotic               1
blank                        1
ANY MOVEMENTS):Erratic       1
certain                      1
fast                         1
the erect                    1
awkward                      1
left                         1
ok                           1
erect                        1
unnatural                    1
Disheveled                   1
somewhat malodorous          1
tousled                      1
whole                        1
somewhat dazed               1
unsteady                     1
Neatly dressed               1
cachectic                    1
abed                         1
open                         1
dyed                         1
a persistant                 1
restless                     1
Good                         1
truncal                      1
organized                    1
shaven well groomed          1
casually dressed             1
pained                       1
staring                      1

In [107]:
data.to_csv("../output/posture_mention_notes.csv", index=False)

## Posture Description Assignment and Filtering

In [10]:
import pandas as pd
import re
import os

normal_posture_descriptors = [
    r'normal posture',
    r'good posture',
    r'upright posture',
    r"normal gait and posture",
    r"normal stance and posture",
    r"posture normal",
    r"good posture",
    r"appropriate posture",
    r"no postural abnormality",
    r"no abnormal posture"
]

abnormal_posture_descriptors = {
    "kyphotic": r'\bkyphotic\b',
    "stooped": r'\bstoop(?:ed)?\b',
    "hunched": r'\bhunch(?:ed)?\b',
    "flexed": r'flexed posture',
    "rigid": r'rigid posture',
    "contracted": r'contracted posture',
    "poor": r'poor posture',
}

severity_descriptors = [
    r"mild(?:ly)?",
    r"slight(?:ly)?",
    r"somewhat",
    r"fair(?:ly)?",
    r"severe(?:ly)?",
    r"very",
    r"exaggerated",
    r"intens(?:ly|e)?",
]

severity_patterns = [(re.compile(p, flags=re.I), p) for p in severity_descriptors]

# Precompile severity
severity_re = r"(" + "|".join(severity_descriptors) + r")"

# Precompile normal
normal_patterns = [re.compile(p, flags=re.I) for p in normal_posture_descriptors]


# ----- Main function -----

def find_posture_and_severity(text):
    text_l = text.lower()
    results = []

    # ---------- NORMAL POSTURE ----------
    for patt in normal_patterns:
        if patt.search(text_l):
            results.append({"type": "normal"})
            break  # only add once regardless of multiple matches

    # ---------- ABNORMAL POSTURE ----------
    for label, desc_pat in abnormal_posture_descriptors.items():

        # severity before descriptor
        combined = re.compile(rf"{severity_re}\s+{desc_pat}", re.I)
        simple = re.compile(desc_pat, re.I)

        # First: severity + descriptor
        for m in combined.finditer(text_l):
            severity = m.group(1)
            results.append({
                "type": "abnormal",
                "descriptor": label,
                "severity": severity
            })

        # If none with severity, add simple descriptor
        if not any(r.get("descriptor") == label for r in results):
            for m in simple.finditer(text_l):
                results.append({
                    "type": "abnormal",
                    "descriptor": label,
                    "severity": None
                })

    return results or None

In [5]:
data_dir = "../data/mimic-iv/physionet.org/files/mimic-iv-note/2.2/note/"
data_file = "discharge.csv.gz"

data = pd.read_csv(os.path.join(data_dir, data_file))

In [11]:
# Apply to DataFrame
data["posture_labels"] = data["text"].apply(find_posture_and_severity)

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,posture_labels
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...,None
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,None
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...,None
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...,None
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...,None
...,...,...,...,...,...,...,...,...,...
331788,19999828-DS-6,19999828,29734428,DS,6,2147-08-04 00:00:00,2147-08-12 15:36:00,\nName: ___ Unit No: ___...,None
331789,19999828-DS-7,19999828,25744818,DS,7,2149-01-18 00:00:00,2149-01-19 07:03:00,\nName: ___ Unit No: ___...,None
331790,19999840-DS-20,19999840,26071774,DS,20,2164-07-28 00:00:00,2164-07-29 14:52:00,\nName: ___ Unit No: ___\...,None
331791,19999840-DS-21,19999840,21033226,DS,21,2164-09-17 00:00:00,2164-09-18 01:36:00,\nName: ___ Unit No: ___\...,None
331792,19999987-DS-2,19999987,23865745,DS,2,2145-11-11 00:00:00,2145-11-11 13:13:00,\nName: ___ Unit No: __...,None

In [16]:
filtered_data = data[data['posture_labels'].notna()]
filtered_data.to_csv("../output/labeled_posture.csv", index=False)
filtered_data.to_pickle("../output/labeled_posture.pkl", index=False)

posture_data = filtered_data

In [14]:
from collections import Counter
import pandas as pd

# Flatten results into a list of descriptors
abnormal_list = []

for labels in filtered_data["posture_labels"].dropna():
    for item in labels:
        if item["type"] == "abnormal":
            abnormal_list.append(item["descriptor"])

descriptor_counts = pd.Series(Counter(abnormal_list)).sort_values(ascending=False)
print(descriptor_counts)

kyphotic      867
stooped       323
hunched       308
flexed         30
poor           16
rigid           7
contracted      6
dtype: int64

In [16]:
print(len(filtered_data['subject_id'].unique()))

2044

## Assemble Preprocessed Data

In [274]:
import pandas as pd
import datetime
import os

data_dir = "../data/mimic-iv/physionet.org/files/mimiciv/3.1/hosp/"
posture_data = pd.read_pickle("../output/labeled_posture.pkl")
admissions_data = pd.read_csv(os.path.join(data_dir, "admissions.csv.gz"), parse_dates=['admittime', 'dischtime'])

posture_data_subjects_ids = posture_data['subject_id'].unique()
posture_data_hadm_ids = posture_data['hadm_id'].unique()

### Add hospital admit and discharge

In [275]:
posture_data = posture_data.merge(admissions_data[['subject_id', 'hadm_id', 'admittime', 'dischtime']],
    on=['subject_id', 'hadm_id'],
    how='left'  # keep all posture rows, even if admission not found
)
posture_data

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,posture_labels,admittime,dischtime
0,10002930-DS-13,10002930,22733922,DS,13,2198-05-04 00:00:00,2198-05-04 19:18:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2198-04-22 16:17:00,2198-05-04 13:20:00
1,10005606-DS-17,10005606,29646384,DS,17,2143-12-16 00:00:00,2143-12-16 09:33:00,\nName: ___ ___ No: ___\n \nA...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2143-12-06 00:54:00,2143-12-16 16:00:00
2,10007920-DS-20,10007920,26693451,DS,20,2136-08-30 00:00:00,2136-09-05 12:44:00,\nName: ___. Unit No: ___\n \...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2136-08-27 17:14:00,2136-08-30 16:59:00
3,10015487-DS-9,10015487,23914645,DS,9,2172-09-22 00:00:00,2172-09-22 12:27:00,\nName: ___ Unit No: ___...,[{'type': 'normal'}],2172-08-29 09:51:00,2172-09-22 14:00:00
4,10026754-DS-3,10026754,22691839,DS,3,2136-08-18 00:00:00,2136-08-18 13:27:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2136-08-08 19:46:00,2136-08-18 14:54:00
...,...,...,...,...,...,...,...,...,...,...,...
2244,19965533-DS-9,19965533,25388109,DS,9,2188-02-05 00:00:00,2188-02-05 11:54:00,\nName: ___ Unit No: ...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2188-02-01 13:47:00,2188-02-05 12:35:00
2245,19968054-DS-19,19968054,27515437,DS,19,2174-12-17 00:00:00,2174-12-17 12:46:00,\nName: ___ Unit No: ___\n...,"[{'type': 'abnormal', 'descriptor': 'flexed', ...",2174-12-16 00:55:00,2174-12-17 14:50:00
2246,19985545-DS-22,19985545,28568303,DS,22,2144-02-06 00:00:00,2144-02-06 22:12:00,\nName: ___ Unit No: ...,[{'type': 'normal'}],2144-01-31 12:48:00,2144-02-06 11:45:00
2247,19985885-DS-9,19985885,25048461,DS,9,2176-08-23 00:00:00,2176-08-26 10:10:00,\nName: ___ Unit No: _...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2176-08-20 18:05:00,2176-08-23 13:30:00
2248,19987238-DS-26,19987238,28310249,DS,26,2165-09-11 00:00:00,2165-09-11 20:22:00,\nName: ___ Unit No: __...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2165-09-06 20:55:00,2165-09-11 19:45:00

### Compute Hospital Stay

In [276]:

time_format = '%Y-%m-%d %H:%M:%S'

def calc_hospital_stay_duration(admit_time_str, discharge_time_str):
    stay_duration = discharge_time_str - admit_time_str
    return stay_duration.days

In [277]:
posture_data['hospital_stay_duration'] = posture_data.apply(lambda x: calc_hospital_stay_duration(x['admittime'], x['dischtime']), axis=1)
posture_data

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,posture_labels,admittime,dischtime,hospital_stay_duration
0,10002930-DS-13,10002930,22733922,DS,13,2198-05-04 00:00:00,2198-05-04 19:18:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2198-04-22 16:17:00,2198-05-04 13:20:00,11
1,10005606-DS-17,10005606,29646384,DS,17,2143-12-16 00:00:00,2143-12-16 09:33:00,\nName: ___ ___ No: ___\n \nA...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2143-12-06 00:54:00,2143-12-16 16:00:00,10
2,10007920-DS-20,10007920,26693451,DS,20,2136-08-30 00:00:00,2136-09-05 12:44:00,\nName: ___. Unit No: ___\n \...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2136-08-27 17:14:00,2136-08-30 16:59:00,2
3,10015487-DS-9,10015487,23914645,DS,9,2172-09-22 00:00:00,2172-09-22 12:27:00,\nName: ___ Unit No: ___...,[{'type': 'normal'}],2172-08-29 09:51:00,2172-09-22 14:00:00,24
4,10026754-DS-3,10026754,22691839,DS,3,2136-08-18 00:00:00,2136-08-18 13:27:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2136-08-08 19:46:00,2136-08-18 14:54:00,9
...,...,...,...,...,...,...,...,...,...,...,...,...
2244,19965533-DS-9,19965533,25388109,DS,9,2188-02-05 00:00:00,2188-02-05 11:54:00,\nName: ___ Unit No: ...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2188-02-01 13:47:00,2188-02-05 12:35:00,3
2245,19968054-DS-19,19968054,27515437,DS,19,2174-12-17 00:00:00,2174-12-17 12:46:00,\nName: ___ Unit No: ___\n...,"[{'type': 'abnormal', 'descriptor': 'flexed', ...",2174-12-16 00:55:00,2174-12-17 14:50:00,1
2246,19985545-DS-22,19985545,28568303,DS,22,2144-02-06 00:00:00,2144-02-06 22:12:00,\nName: ___ Unit No: ...,[{'type': 'normal'}],2144-01-31 12:48:00,2144-02-06 11:45:00,5
2247,19985885-DS-9,19985885,25048461,DS,9,2176-08-23 00:00:00,2176-08-26 10:10:00,\nName: ___ Unit No: _...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2176-08-20 18:05:00,2176-08-23 13:30:00,2
2248,19987238-DS-26,19987238,28310249,DS,26,2165-09-11 00:00:00,2165-09-11 20:22:00,\nName: ___ Unit No: __...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2165-09-06 20:55:00,2165-09-11 19:45:00,4

### Add Gender and Age Information

In [278]:
patient_data = pd.read_csv(os.path.join(data_dir, "patients.csv.gz"), parse_dates=['anchor_year', 'dod'])

print(patient_data[patient_data['subject_id'].isin(posture_data_subjects_ids)])

        subject_id gender  anchor_age anchor_year anchor_year_group        dod
119       10002930      F          48  2193-01-01       2011 - 2013 2201-12-24
214       10005606      M          38  2143-01-01       2017 - 2019        NaT
294       10007920      M          52  2132-01-01       2008 - 2010        NaT
578       10015487      M          47  2167-01-01       2008 - 2010        NaT
994       10026754      F          55  2133-01-01       2014 - 2016        NaT
...            ...    ...         ...         ...               ...        ...
363378    19965533      F          91  2188-01-01       2008 - 2010        NaT
363469    19968054      M          38  2174-01-01       2008 - 2010        NaT
364102    19985545      M          56  2135-01-01       2008 - 2010 2147-05-17
364114    19985885      F          91  2175-01-01       2008 - 2010 2181-02-05
364170    19987238      F          62  2163-01-01       2008 - 2010        NaT

[2044 rows x 6 columns]

In [279]:
def compute_age_from_anchor(admit_time_str, anchor_age, anchor_year):
    # admit_time = datetime.datetime.strptime(admit_time_str, time_format)
    # anchor_year_time = datetime.datetime(anchor_year, 1, 1)
    # anchor_age_time = datetime.datetime(anchor_age, 1, 1)
    true_age_yrs = admit_time_str - anchor_year
    return true_age_yrs.days // 365 + anchor_age

In [280]:
posture_data = posture_data.merge(patient_data[['subject_id', 'gender', 'anchor_age', 'anchor_year', 'dod']],
    on=['subject_id'],
    how='left'  # keep all posture rows, even if admission not found
)
posture_data

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,posture_labels,admittime,dischtime,hospital_stay_duration,gender,anchor_age,anchor_year,dod
0,10002930-DS-13,10002930,22733922,DS,13,2198-05-04 00:00:00,2198-05-04 19:18:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2198-04-22 16:17:00,2198-05-04 13:20:00,11,F,48,2193-01-01,2201-12-24
1,10005606-DS-17,10005606,29646384,DS,17,2143-12-16 00:00:00,2143-12-16 09:33:00,\nName: ___ ___ No: ___\n \nA...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2143-12-06 00:54:00,2143-12-16 16:00:00,10,M,38,2143-01-01,NaT
2,10007920-DS-20,10007920,26693451,DS,20,2136-08-30 00:00:00,2136-09-05 12:44:00,\nName: ___. Unit No: ___\n \...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2136-08-27 17:14:00,2136-08-30 16:59:00,2,M,52,2132-01-01,NaT
3,10015487-DS-9,10015487,23914645,DS,9,2172-09-22 00:00:00,2172-09-22 12:27:00,\nName: ___ Unit No: ___...,[{'type': 'normal'}],2172-08-29 09:51:00,2172-09-22 14:00:00,24,M,47,2167-01-01,NaT
4,10026754-DS-3,10026754,22691839,DS,3,2136-08-18 00:00:00,2136-08-18 13:27:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2136-08-08 19:46:00,2136-08-18 14:54:00,9,F,55,2133-01-01,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,19965533-DS-9,19965533,25388109,DS,9,2188-02-05 00:00:00,2188-02-05 11:54:00,\nName: ___ Unit No: ...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2188-02-01 13:47:00,2188-02-05 12:35:00,3,F,91,2188-01-01,NaT
2245,19968054-DS-19,19968054,27515437,DS,19,2174-12-17 00:00:00,2174-12-17 12:46:00,\nName: ___ Unit No: ___\n...,"[{'type': 'abnormal', 'descriptor': 'flexed', ...",2174-12-16 00:55:00,2174-12-17 14:50:00,1,M,38,2174-01-01,NaT
2246,19985545-DS-22,19985545,28568303,DS,22,2144-02-06 00:00:00,2144-02-06 22:12:00,\nName: ___ Unit No: ...,[{'type': 'normal'}],2144-01-31 12:48:00,2144-02-06 11:45:00,5,M,56,2135-01-01,2147-05-17
2247,19985885-DS-9,19985885,25048461,DS,9,2176-08-23 00:00:00,2176-08-26 10:10:00,\nName: ___ Unit No: _...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2176-08-20 18:05:00,2176-08-23 13:30:00,2,F,91,2175-01-01,2181-02-05
2248,19987238-DS-26,19987238,28310249,DS,26,2165-09-11 00:00:00,2165-09-11 20:22:00,\nName: ___ Unit No: __...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2165-09-06 20:55:00,2165-09-11 19:45:00,4,F,62,2163-01-01,NaT

In [281]:
posture_data['age'] = posture_data.apply(lambda x: compute_age_from_anchor(x['admittime'], x['anchor_age'], x['anchor_year']), axis=1)
posture_data

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,posture_labels,admittime,dischtime,hospital_stay_duration,gender,anchor_age,anchor_year,dod,age
0,10002930-DS-13,10002930,22733922,DS,13,2198-05-04 00:00:00,2198-05-04 19:18:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2198-04-22 16:17:00,2198-05-04 13:20:00,11,F,48,2193-01-01,2201-12-24,53
1,10005606-DS-17,10005606,29646384,DS,17,2143-12-16 00:00:00,2143-12-16 09:33:00,\nName: ___ ___ No: ___\n \nA...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2143-12-06 00:54:00,2143-12-16 16:00:00,10,M,38,2143-01-01,NaT,38
2,10007920-DS-20,10007920,26693451,DS,20,2136-08-30 00:00:00,2136-09-05 12:44:00,\nName: ___. Unit No: ___\n \...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2136-08-27 17:14:00,2136-08-30 16:59:00,2,M,52,2132-01-01,NaT,56
3,10015487-DS-9,10015487,23914645,DS,9,2172-09-22 00:00:00,2172-09-22 12:27:00,\nName: ___ Unit No: ___...,[{'type': 'normal'}],2172-08-29 09:51:00,2172-09-22 14:00:00,24,M,47,2167-01-01,NaT,52
4,10026754-DS-3,10026754,22691839,DS,3,2136-08-18 00:00:00,2136-08-18 13:27:00,\nName: ___ Unit No: ___\...,[{'type': 'normal'}],2136-08-08 19:46:00,2136-08-18 14:54:00,9,F,55,2133-01-01,NaT,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,19965533-DS-9,19965533,25388109,DS,9,2188-02-05 00:00:00,2188-02-05 11:54:00,\nName: ___ Unit No: ...,"[{'type': 'abnormal', 'descriptor': 'hunched',...",2188-02-01 13:47:00,2188-02-05 12:35:00,3,F,91,2188-01-01,NaT,91
2245,19968054-DS-19,19968054,27515437,DS,19,2174-12-17 00:00:00,2174-12-17 12:46:00,\nName: ___ Unit No: ___\n...,"[{'type': 'abnormal', 'descriptor': 'flexed', ...",2174-12-16 00:55:00,2174-12-17 14:50:00,1,M,38,2174-01-01,NaT,38
2246,19985545-DS-22,19985545,28568303,DS,22,2144-02-06 00:00:00,2144-02-06 22:12:00,\nName: ___ Unit No: ...,[{'type': 'normal'}],2144-01-31 12:48:00,2144-02-06 11:45:00,5,M,56,2135-01-01,2147-05-17,65
2247,19985885-DS-9,19985885,25048461,DS,9,2176-08-23 00:00:00,2176-08-26 10:10:00,\nName: ___ Unit No: _...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2176-08-20 18:05:00,2176-08-23 13:30:00,2,F,91,2175-01-01,2181-02-05,92
2248,19987238-DS-26,19987238,28310249,DS,26,2165-09-11 00:00:00,2165-09-11 20:22:00,\nName: ___ Unit No: __...,"[{'type': 'abnormal', 'descriptor': 'kyphotic'...",2165-09-06 20:55:00,2165-09-11 19:45:00,4,F,62,2163-01-01,NaT,64

## Posture Dict to String

In [310]:
def compute_charlson_index(posture_dict_list):
    result = set()
    for posture_dict in posture_dict_list:
        if posture_dict['type'] == 'normal':
            posture_string = "normal"
        else:
            if posture_dict['severity']:
                if posture_dict['severity'].endswith("ly"):
                    severity = posture_dict['severity'][:-2]
                else:
                    severity = posture_dict['severity']
                posture_string = f"{severity} {posture_dict['descriptor']}"
            else:
                posture_string = posture_dict['descriptor']
        result.add(posture_string)
    return result

In [312]:
posture_data['posture_labels'] = posture_data['posture_labels'].apply(compute_charlson_index)

## Export

In [ ]:
posture_data.to_pickle("../outputs/posture_data_preprocessed.pkl")
export_data = posture_data[['subject_id', 'hadm_id', 'gender', 'age', 'posture_labels', 'hospital_stay_duration']]
export_data.to_pickle("